body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  border: 1px solid red;
  position: fixed;
  top: 0;

}

main {
  border: 1px solid red;
}

#minha_foto {
  width: 20%;
}

section {
  border: 1px solid red;
  max-width: fit-content;
}

article {
  border: 1px solid red;
  max-width: 70%;
}

aside {
  border: 1px solid red;
  max-width: 20%;
}
