body {
  background-color: rgb(253, 251, 251);
  color: rgba(0, 0, 0, 0.678);
  display: block;
  font-family: Bubbler One, sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  margin-left: 20%;
  width: 80%;
}

#cabecalho {
  background-color: rgba(200, 255, 0, 0.685);
  bottom: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.295);
  left: 0;
  position: fixed;
  top: 0;
  width: 20%;
}

#cabecalho h1 {
  color: rgb(253, 251, 251);
  font-size: 6em;
  line-height: 90%;
  margin-left: 10%;
  text-align: left;
}

#minha_foto {
  border-radius: 100%;
  filter: grayscale(100%);
  margin-bottom: -2%;
  margin-left: 11%;
  width: 25%;
}

main {
  height: 1000px;
  padding: 10%;
  padding-top: 5%;
}

section {
  display: block;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-spacing: 30px;
}

th {
  color: rgb(200, 255, 0);
  font-size: 3em;
  font-weight: normal;
}

td {
  height: 400px;
  width: 400px;
}

ul , ol {
  line-height: 150%;
  list-style: circle;
  list-style-position: inside;
  margin: 0;
  padding: 3%;
  text-align: center;
}

.lado-esquerdo {
  background-image: linear-gradient(rgba(0, 225, 255, 0.555), rgba(200, 255, 0, 0.575));
  border-radius: 3%;
  float: left;
  padding: 4%;
  width: 50%;
}

.lado-direito {
  background-image: linear-gradient(rgba(0, 225, 255, 0.555), rgba(200, 255, 0, 0.575));
  border-radius: 3%;
  float: right;
  padding: 4%;
  width: 30%;
}

#rodape {
  font-size: 0.8em;
  padding-left: 10%;
}

nav {
  border: 1px solid rgba(0, 0, 0, 0);
  display: inline-block;
  margin-left: 5%;
}

nav li {
  list-style: none;
  text-align: left;
}

nav a {
  color: rgba(0, 0, 0, 0.644);
  text-decoration: none;
}
